1. Read the data from the file “people.txt”.
1. Create a rule set E that contain rules to check for the following conditions :
    1. The age should be in the range 0-150.
    1. The age should be greater than years married.
    1. The status should be married or single or widowed.
    1. If age is less than 18 the age group should be child, if age is between 18 and 65 the age group should be adult, if age is more than 65 the age group should be elderly.
1. Check whether rule set E is violated by the data in the file people.txt.
1. Summarize the results obtained in part(iii)
1. Visualize the results obtained in part(iii)

In [2]:
import pandas as pd

column_names = ["age", "agegroup", "height", "status", "yearsmarried"]
data = pd.read_csv("people.txt", header=None, delimiter=r"\s+", names=column_names)

data = data.drop(data.index[0])

data

   age agegroup height   status yearsmarried
1   21    adult    6.0   single           -1
2    2    child      3  married            0
3   18    adult    5.7  married           20
4  221  elderly      5  widowed            2
5   34    child     -7  married            3

In [3]:
print(data.index)

len(data)

Int64Index([1, 2, 3, 4, 5], dtype='int64')

5

In [4]:
def ageRangeCheck(temp):
    age_range = lambda r : r in range(151)
    print(temp["age"].apply(age_range))

ageRangeCheck(data)

1    False
2    False
3    False
4    False
5    False
Name: age, dtype: bool

In [5]:
def ageCheck(temp) :
    age_check = lambda r : r[0] > r[1]
    print(temp[["age","yearsmarried"]].apply(age_check,axis=1))

ageCheck(data)

1     True
2     True
3    False
4     True
5     True
dtype: bool

In [6]:
data.status

1     single
2    married
3    married
4    widowed
5    married
Name: status, dtype: object

In [7]:
def statusCheck(temp) :
    status=set(temp.status)
    status_check = lambda r : r in status
    print(temp["status"].apply(status_check))

statusCheck(data)

1    True
2    True
3    True
4    True
5    True
Name: status, dtype: bool

In [8]:
def groupCheck(temp) :
    def groupCheckTF(x) :
        if (x[0] in range(18) and x[1]=="child") or (x[0] in range(18,66) and x[1]=="adult") or (x[0]>65 and x[1]=="elderly")  :
            return True
        else :
            return False
    print(temp[["age","agegroup"]].apply(groupCheckTF,axis=1))

groupCheck(data)

1    False
2    False
3    False
4     True
5    False
dtype: bool

In [9]:
data.describe()

       age agegroup height   status yearsmarried
count    5        5      5        5            5
unique   5        3      5        3            5
top     34    child    5.7  married           20
freq     1        2      1        3            1

In [23]:
E = {"ageRangeCheck" : ageRangeCheck, "ageCheck" : ageCheck, "statusCheck": statusCheck, "groupCheck" : groupCheck}

E["ageCheck"](data)

1     True
2     True
3    False
4     True
5     True
dtype: bool

In [11]:
data.describe()

x = data.plot()

TypeError: Empty 'DataFrame': no numeric data to plot