# Faisal Akhtar
# College Roll No.: 17/1409

# Question 1
Download the Dataset from [here](http://archive.ics.uci.edu/ml/machine-learning-databases/iris/)<br>
Perform the following preprocessing tasks on the dirty_iris dataset<br>
(i) Calculate the number and percentage of observations that are complete<br>
(ii) Replace all the special values in data with NA<br>
(iii) Define these rules in a separate text file and read them.<br>
- Species should be one of the following values: setosa, versicolor, Virginica.
- All measured numerical properties of an iris should be positive.
- The petal length of an iris is at least 2 times its petal width.
- The sepal length of an iris cannot exceed 30 cm.
- The sepals of an iris are longer than its petals.

In [3]:
import pandas as pd

data = pd.read_csv("dirty_iris.csv", sep=',')
data.head()

  Sepal_Length Sepal_Width  Petal_Length Petal_Width Species
0          5.1         3.5           1.4         0.2  setosa
1          4.9           3           1.4         0.2  setosa
2            @         1.3           0.2      setosa     NaN
3          4.6         3.1           1.5         0.2     ABC
4            5         3.6           1.4         0.2  setosa

In [4]:
dataX = data.copy()
dataX.dropna(inplace=True)
dataX.head()

  Sepal_Length Sepal_Width  Petal_Length Petal_Width Species
0          5.1         3.5           1.4         0.2  setosa
1          4.9           3           1.4         0.2  setosa
3          4.6         3.1           1.5         0.2     ABC
4            5         3.6           1.4         0.2  setosa
6          4.6         3.4           1.4         0.3  setosa

1. Calculate the number and percentage of observations that are complete.

In [6]:
print("Total observations : ",len(data),"\nComplete observations : ",len(dataX),"\n")

print("%ge of observations that are complete : ",len(dataX)/len(data)*100,"%")

('Total observations : ', 150, '\nComplete observations : ', 148, '\n')
('%ge of observations that are complete : ', 0, '%')

2. Replace all the special values in data with NA.

In [7]:
data.fillna(value="NA", inplace=True)
data.head()

  Sepal_Length Sepal_Width  Petal_Length Petal_Width Species
0          5.1         3.5           1.4         0.2  setosa
1          4.9           3           1.4         0.2  setosa
2            @         1.3           0.2      setosa      NA
3          4.6         3.1           1.5         0.2     ABC
4            5         3.6           1.4         0.2  setosa

In [8]:
data.describe()

       Petal_Length
count     150.00000
mean        3.72600
std         1.88129
min        -1.50000
25%         1.52500
50%         4.40000
75%         5.10000
max         6.90000

In [12]:
data = data.replace(to_replace=["@", "_"], value ="NA")

data.head()

  Sepal_Length Sepal_Width  Petal_Length Petal_Width Species
0          5.1         3.5           1.4         0.2  setosa
1          4.9           3           1.4         0.2  setosa
2           NA         1.3           0.2      setosa      NA
3          4.6         3.1           1.5         0.2     ABC
4            5         3.6           1.4         0.2  setosa

3. Define these rules in a separate text file and read them.
    - Species should be one of the following values: setosa, versicolor, Virginica.
    - All measured numerical properties of an iris should be positive.
    - The petal length of an iris is at least 2 times its petal width.
    - The sepal length of an iris cannot exceed 30 cm.
    - The sepals of an iris are longer than its petals.

In [21]:
import numpy as np

exec(open("./rules.txt").read())

In [22]:
rules = {"checkSpecies" : checkSpecies, "positiveCheck" : positiveCheck, "petalCheck" : petalCheck, "sepalCheck" : sepalCheck, "sepalAndPetalCheck" : sepalAndPetalCheck}

print("__Rules__")
x = []
for i in rules.keys() :
    x.append(rules[i](dataX))

__Rules__
Violation : Non-positive values present
2 violations

Violation : Sepal Length is greater than 30 cm in some places
148 violations

Sepal length greater than petal length : No Violation

Violation : Petal Length is less than twice of Petal Width in some places
148 violations

Violation : Invalid species name
2 violations